.tournament__row {
    display: flex;
    align-items: center;
}

.tournament__row:hover {
    background: var(--background_hover);
}

.tournament-header {
    padding: 25px 16px 28px;
    position: relative;
    text-align: center;
}

.tournament-header__tournament {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 8px;
}

.tournament-header__date {
    line-height: 18px;
    color: var(--tabbar_tablet_text_secondary);
}

.tournament__logo {
    margin-right: 12px;
}

.tournament__date {
    font-size: 14px;
    line-height: 18px;
    color: var(--tabbar_tablet_text_secondary);;
}
